html{
    height:auto;
}
body{
    background-image: linear-gradient(#a02c2c, #5c1111);
  }
h1{
    color: #000000;
    border-radius: 20px;
    border-color: #000000;
    font-size: 75;
    font-family: 'calibri';
    text-align: center;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 1330px;  
    background-size:100%, 100%;
}
h2{

    font-size: 40;
    text-decoration: none;
    width: 400px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    border-radius: 4%;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 7px 17px #000000;
}

logo1{
    position: relative;
    bottom: 5;
    right: 10px;
}

logo2{
    position: relative;
    left: 10px;
}

h3{
    position: relative;
    font-size: 25;
    font-family: 'calibri';
    text-align: center;
}
.iniciar_sesion .button{
    position: relative;
    right: 120px;
    top: 56px
}
.registrarse .button{
    position: relative;
    left: 120px;
    
}
.button {
    background-color: #24303c;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

.button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
}

.button:hover {
    background-color: #1e2933;
    transform: scale(1.05);
}

.button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}
